src/test/resources/sanity-checks/write_query_influxql.yaml
id: write_query_influxql
namespace: sanitychecks.plugin-influxdb

inputs:
  - id: url
    type: STRING
    defaults: "http://localhost:8086"

  - id: token
    type: STRING
    defaults: "my-token"

  - id: org
    type: STRING
    defaults: "my-org"

  - id: bucket
    type: STRING
    defaults: "test-bucket"

tasks:
  - id: write
    type: io.kestra.plugin.influxdb.Write
    connection:
      url: "{{ inputs.url }}"
      token: "{{ inputs.token }}"
    org: "{{ inputs.org }}"
    bucket: "{{ inputs.bucket }}"
    source: |
      water,sensor_id=TLM0100,run_id={{ execution.id }} temperature=73.97
      water,sensor_id=TLM0100,run_id={{ execution.id }} humidity=35.23
      water,sensor_id=TLM0100,run_id={{ execution.id }} co=0.48

  - id: query
    type: io.kestra.plugin.influxdb.InfluxQLQuery
    connection:
      url: "{{ inputs.url }}"
      token: "{{ inputs.token }}"
    org: "{{ inputs.org }}"
    bucket: "{{ inputs.bucket }}"
    query: |
      SELECT * FROM water
      WHERE time > now() - 10m AND run_id = '{{ execution.id }}'
    fetchType: FETCH

  - id: assert_water
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Query didn't return 3 expected points"
    conditions:
      - "{{ outputs.query.size == 1 }}"
