src/test/resources/sanity-checks/write_query_flux.yaml
id: write_query_flux
namespace: sanitychecks.plugin-influxdb

inputs:
  - id: url
    type: STRING
    defaults: "http://localhost:8086"

  - id: token
    type: STRING
    defaults: "my-token"

  - id: org
    type: STRING
    defaults: "my-org"

  - id: bucket
    type: STRING
    defaults: "test-bucket"

tasks:
  - id: write
    type: io.kestra.plugin.influxdb.Write
    connection:
      url: "{{ inputs.url }}"
      token: "{{ inputs.token }}"
    org: "{{ inputs.org }}"
    bucket: "{{ inputs.bucket }}"
    source: |
      air,sensor_id=TLM0100,run_id={{ execution.id }} temperature=73.97
      air,sensor_id=TLM0100,run_id={{ execution.id }} humidity=35.23
      air,sensor_id=TLM0100,run_id={{ execution.id }} co=0.48

  - id: query
    type: io.kestra.plugin.influxdb.FluxQuery
    connection:
      url: "{{ inputs.url }}"
      token: "{{ inputs.token }}"
    org: "{{ inputs.org }}"
    query: |
      from(bucket: "{{ inputs.bucket }}")
      |> range(start: -1h)
      |> filter(fn: (r) => r._measurement == "air")
      |> filter(fn: (r) => r.sensor_id == "TLM0100")
      |> filter(fn: (r) => r.run_id == "{{ execution.id }}")

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Query didn't return 3 expected points"
    conditions:
      - "{{ outputs.query.size >= 3 }}"

